language: python
python:
- "2.7"
- "3.4"
notifications:
  email: false
branches:
  only:
  - master
before_install:
- sudo apt-get update -qq
install:
- if [[ $TRAVIS_PYTHON_VERSION == "2.7" ]]; then sudo apt-get -y install python-numpy python-scipy; fi
- if [[ $TRAVIS_PYTHON_VERSION == "3.4" ]]; then sudo apt-get -y install python3-numpy python3-scipy; fi
- travis_retry python setup.py develop
- pip freeze
script:
  - coverage run --source=radontea tests/runtests.py
  - coverage report -m
after_success:
  coveralls --verbose
