language: python
python:
- "2.7"
- "3.4"
branches:
  only:
  - master
before_install:
# We need to use conda, because virtualenv did not work on travis with 3.4
- sudo apt-get update -qq
- sudo apt-get install -qq libatlas-dev libatlas-base-dev liblapack-dev gfortran
- wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
- chmod +x miniconda.sh
- ./miniconda.sh -b
- export PATH=/home/travis/miniconda/bin:$PATH
- conda update --yes conda
- travis_retry conda install --yes python=$TRAVIS_PYTHON_VERSION pip numpy scipy
install:
- travis_retry python setup.py develop
- python --version
- pip freeze
script:
- travis_wait python setup.py test
cache: apt
